body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
  overflow: hidden;
}

#score {
  font-size: 18px;
  padding: 10px;
  color: #333;
}

#game {
  position: relative;
  width: 100vw;
  height: 200px;
  background: #fff;
  border-bottom: 3px solid #222;
  overflow: hidden;
}

/* Динозаврик */
#dino {
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 48px;
  height: auto;
  user-select: none;
  pointer-events: none;
}

/* Препятствие */
#obstacle {
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 30px;
  height: auto;
  animation: move 2s linear infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes move {
  0% {
    right: -30px;
  }
  100% {
    right: 100vw;
  }
}

